* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

.header {
    padding: 10px 10px 10px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
}

.header h1 {
    display: inline-block;
    font-size: 45px;
    padding: 5px 10px 5px 60px;
    background-color: white;
}

.header nav {
    padding-top: 15px;
    margin-right: 50px;
    float: right;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 5px;
}

a {
    color: white;
    text-decoration: none;
    transition: color 300ms ease-in-out;
}

a {
    text-decoration: none;
    padding: 10px 10px;
    background-color: none;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: color 300ms ease-in-out;
}

a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    z-index: -1;
    transform: scaleY(0.09);
    transform-origin: bottom;
    transition: transform 300ms ease-in-out;
}

a:hover::before,
a:focus::before {
    transform: scaleY(1);
}

a:hover,
a:focus {
    color:black;
}
