* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    height: 200vh;
}

.header {
    padding: 10px 10px 10px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
}

.header h1 {
    display: inline-block;
    font-size: 45px;
    padding: 5px 10px 5px 60px;
    background-color: white;
}

.header nav {
    padding-top: 15px;
    margin-right: 50px;
    float: right;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 5px;
}

a {
    color: white;
    text-decoration: none;
    transition: color 300ms ease-in-out;
}

a {
    text-decoration: none;
    padding: 10px 10px;
    background-color: none;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: color 300ms ease-in-out;
}

a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    z-index: -1;
    transform: scaleY(0.09);
    transform-origin: bottom;
    transition: transform 300ms ease-in-out;
}

a:hover::before,
a:focus::before {
    transform: scaleY(1);
}

a:hover,
a:focus {
    color:black;
}

.background-img {
    height: 300px;
    width: 100%;
    margin-bottom: 30px;
    background-image: url("C:/Users/Ning/Documents/Assignments/week2/Portfolio/assets/images/backgroundImg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

h3 {
    float: right;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px 15px;
    margin: 20px 50px 20px 0;
}

h2 {
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 150px;
    text-align: right;
    border-right: 4px solid black;
    padding-right: 15px;
}

#about-me p {
    padding: 0 5px 10px 30px;
}

#about-me {
    display: flex;
    margin: 0 30px 20px 60px;
}

#work {
    display: flex;
    margin: 0 30px 20px 60px;
}

#contact-me {
    display: flex;
    margin: 0 30px 20px 60px;
}





